# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GGJ 2022.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ioann\UnityProjects\GGJ 2022\.idea\.idea.GGJ 2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
